*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-family: 'CursorGothic';
}

body{
    width: 60%;
    height: 100%;
    background-color: #000;
}
.navbar{
    width:100%;
    height:5%;
    display: flex;
}

.nav-left{
     width: 20%;
     height: 100%; 
}

.nav-left img{
    width: 100%;
    height: 100%;
    color: #000;
}

.nav-center{
     width: 60%;
     height: 100%; 
     padding-left: 12%;
     padding-top: 10px;
     color: black;
     cursor: pointer;
}

.nav-center a{
    width: 100%;
    height:100%;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 10px;
}

.nav-center a:hover {
  color: #b2beb5;
}

.nav-right{
     width: 20%;
     height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
}

.rounded-signIn{
   border-radius: 30px;
   padding:8px 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid #e5e4e2;
}

.rounded-Download{
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    padding:7px;
}

.first{
    width: 100%;
    height: 24%;
    padding-top: 8%;
}


.rounded-macOS{
     border-radius: 40px;
     padding: 8px 16px;
     margin-top: 10px;
     background-color: #fff;
     color: #110f11;
     border: #b2beb5 1px solid;
     font-family: "monospace";
} 

.second{
    width:100%;
    height:50%;
}

img{
    width: 100%;
    height: 100%;
}

.third{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

h6{
    padding-top: 40px;
}

#logo{
    width:100%;
    height:20%;
}

.Agent{
    width:100%;
    height: 55%;
    display : flex;
    background-color: #1a1812;
    color: #e5e4e2;
    margin-top:7%;
}

.agent-1{
 width: 40%;  
 height: 100%;
 display: flex;
 justify-content: center;
 flex-direction: column;
 padding-left : 10px;
}


a{
    color:orangered;
    padding-left: 4px;
    text-decoration: none;
    padding-top: 20px;
}


.agent-2{
    width: 60%;
    height:100%;
    padding-top: 6.5%;
}


 .Tab{
    width:100%;
    height: 50%;
    display: flex;
    margin-top: 7%;
    gap: 20px;
    background-color: #1a1812;
    color: #e5e4e2;
 }

 .tab-1{
    width:60%;
    height: 100%;
 }

 .tab-2{
    width:40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 .Eco{
    width:100%;
    height: 55%;
    margin-top: 7%;
    display: flex;
    background-color: #1a1812;
    color: #e5e4e2;
 } 

 .eco-1{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
 }
  
 #ecos{
    font-size: 14px;
    padding-top:10px;
 }

 .eco-2{
    width:60%;
    height: 100%;
    padding:4px;
 }

 .grid{
    width: 100%;
    height: 60%;
    margin-top : 7%;
 }

 .grid-1{
    height: 20%;
    width: 100%;
 }

  .grid-1 h1{
    text-align: center;
    font-size: 25px;
    padding : 45px;
 }

 .grid-2{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;  
    background-color: #1a1812;
 }
   
 .card-1{
    width: 33.33%;
    height: 50%;
    border: 1px solid #000;
 }

 .card-1 p{
    font-size: 13px;
    padding-left:10px;
 }

 .personal-info{
    display: flex;
 }

 .personal-info img{
      width:10%;
      height: 10%;
      margin-top: 110px;
      margin-left:12px ;
 }

.personal-info p{
      margin-top : 110px;
 }

 .card-2{
    width: 33.33%;
    height: 50%;
    border: 1px solid #000;
 }

 .card-2 p{
    font-size: 13px;
    padding-left:10px;
 }

 #img-2{
      margin-top: 96px;
      margin-left:12px ;
 }


 #text-2{
    margin-top: 97px;
 }

  .card-3{
    width: 33.33%;
    height: 50%;
    border: 1px solid #000;
 }

  .card-3 p{
    font-size: 13px;
    padding-left:10px;
 }

#img-3{
      margin-top: 96px;
      margin-left:12px ;
 }


 #text-3{
    margin-top: 97px;
 }

  .card-4{
    width: 33.33%;
    height: 50%;
    border: 1px solid #000;
 }

 .card-4 p{
    font-size: 13px;
    padding-left:10px;
 }


 #img-4{
      margin-top: 80px;
      margin-left:12px ;
 }


 #text-4{
    margin-top: 80px;
 }

  .card-5{
    width: 33.33%;
    height: 50%;
    border: 1px solid #000;
 }

 .card-5 p{
    font-size: 13px;
    padding-left:10px;
 }

 #img-5{
      margin-top: 80px;
      margin-left:12px ;
 }

 #text-5{
    margin-top: 80px;
 }
  .card-6{
    width: 33.33%;
    height: 50%;
     border: 1px solid #000;
 }

 .card-6 p{
     font-size: 13px;
    padding-left:10px;
 }

  #img-6{
      margin-top: 75px;
      margin-left:12px ;
 }

 #text-6{
    margin-top: 80px;
 }

 .row{
    width: 100%;
    height: 60%;
    margin-top : 7%;
    margin-top:7%;
 }

 .front{
    height: 20%;
    width: 100%;
 }

  .front h3{
    text-align: left;
    font-size: 19px;
    padding: 76px;
    padding-left: 2px;
 }

 .test{
    width: 100%;
    height: 80%;
    display: flex;
    background-color: #1a1812;
     
 }

 .test-1{
    width: 33.33%;
    height: 100%;
 }

  .test-2{
    width: 33.33%;
    height:100%;
 }

  .test-3{
    width: 33.33%;
    height: 100%;
 }

 .child1{
    font-size: 14px;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 6px;
 }

 .child2{
    font-size: 14px;
    padding-left: 6px;
    color:#b2beb5;
 }

 .child3{
    color: rgb(255, 68, 0);
    padding: 6px;
 }

 .test img {
    padding: 5px;
    padding-top: 5px;
    width:100%;
    height:78%;
 }

 .changelog{
    width:100%;
    height: 30%;
 }

 .logo-text{
    width:100%;
    height:70%;
 }

 .logo-text h3{
    font-size: 20px;
    font-weight: 600;
    padding: 17%;
    padding-left:2px;;
 }
 .logo{
    width:100%;
    height: 30%;
    display:flex;
    gap: 5px;
    background-color: #1a1812;
 }

 .logo-card{
    width:25%;
    height: 100%;
    border:2px solid #000;
 }

 .logo-card p{
    font-size: 14px;
    padding: 4px 12px;
 }
 .value{
  border-radius: 25px;
  padding: 3px 10px;
  font-size: 10px;
  border: 1px solid #e5e4e2;
}

.date{
     color:#b2beb5;
}

.new{
    margin-top:2%;
    font-size: 13px;
}

.team{
    width: 100%;
    height: 80%;
    margin-top:12%;
}

.team-1{
    width:100%;
    height: 20%;
    padding: 25px;
    padding-left: 3px;
}

.team-1 p{
    font-size: 25px;
    padding-bottom: 5px;
}

.team-1 button{
  border-radius: 55px;
  padding: 7px 17px;
  font-size: 12px;
}

.team-2{
    width:100%;
    height: 80%;
}

.team-2 img{
    width:100%;
    height:100%;
}

.highlight{
    width:100%;
    height:45%;
    display: flex;
    background-color: #1a1812;
    margin-top: 9%;
}

.highlight-1{
    width:100%;
    height: 100%;
    padding-top:2rem;
    text-align: left;
}

.highlight-2{
    width: 300%;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:2rem;
}
  
.child-1{
    border: 1px solid black;
}

.child-2{
    border: 1px solid black;
}

.child-3{
    border: 1px solid black;
}

.part1{
    font-size: 13px;
}

.part2{
    font-size: 13px;
    color:#b2beb5;
}

.last{
    font-size: 13px;
    color:#b2beb5;
    padding: 1rem;
    padding-left: 2px;
}

.bottom-part{
    font-size: 12px;
    padding-bottom: 2rem;
}

.big-text{
   width:100%;
   height:20%;
   margin-top:6%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.big-text h1{
    font-size: 50px;
    font-weight: 600;
}

.rounded-macOS-2{
     border-radius: 40px;
      padding: 7px 18px;
     margin-top: 10px;
     background-color: #fff;
     color: #110f11;
     border: #b2beb5 1px solid;
     font-family: "monospace";
     margin-left: 20%;
}

footer{
   width:100%;
   height:40%;
   margin-top: 5%;
    background-color: #1a1812;
}

.footer-1{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:140px;
   padding: 3rem;
}

.footer-1 ul{
   list-style: none;
   font-size: 12px;
   line-height: 1.2rem;
}

.Feature{
   margin-top: 13px;
}

.socials{
   margin-bottom:6%;
}

.title{
   margin-bottom: 6px;
   color:#b2beb5;
}

.copywrite{
  width: 100%;
  margin-top: 4%;
  font-size: 10px;
  display: flex;
}

.left-side{
   width: 50%;
   color:#b2beb5;
   display: flex;
   justify-content: left;
   gap:10px;
   padding-left: 2.8rem;
   padding-top: 1px;
}

.right-side{
   width: 50%;
   color:#b2beb5;
   display: flex;
   justify-content: right;
   gap:10px;
}


.right-side-1{
   border-radius: 30px;
   border:1px solid white;
   display: flex;
   gap: 10px;
   padding: 4px 8px;
   background-color: #1a1812;
}

.right-side-2 Select{
   background-color: #1a1812;
   border-radius: 40px;
   padding: 4px 7px;
   border: 1px solid #fff;
   color:white;
}
